.app {
  text-align: center;
  background-color: #0E0A27;
  height: 100vh;
  color: #3CF237;
  font-family: Arial, Helvetica, sans-serif;
}



.app_header {
  background-color: #17103F;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.app_header div {
  text-align: center;
  flex-basis: 100%;
}

.app_link {
  color: #61dafb;
}

.app_header-menu_toggle button {
  height: 80%;
}

.menu_button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	/*border-radius:5px;*/
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.menu_button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

.menu_button:active {
	position:relative;
	top:1px;
}

.menu_button:focus {
  outline: none;
}

.lang-selected {
  color: #3CF237;
}

main {
  position: relative;
  padding: 5vh;
}

main section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  margin: auto;
  z-index: 0;
}

main nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 1;
}
